@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Российское сообщество муховязов";   
}
 <div class="span9">Настоящий нахлыстовик должен владеть еще одним искусством – искусством изготовления приманок-мушек. Рыболовов, которые вяжут приманки своими руками, называют муховязами.Сегодня хотел рассказать об выборе инструментов для вязания нахлыстовых мушек.А если Вы увлечены нахлыстом, рано или поздно захочется вязать мушки самим. Я например начал осваивать нахлыст именно с вязания мушек.Покупать готовые мушки или вязать самому? Я склонен к рукоделию, потому этот вопрос даже не стоял.Какое то время я пытался сделать нахлыстовые тиски из подручных средств, получилось конечно аскому сбить, но это не то. Вдоволь намучившись без специального инструмента решил приобрести свой первый набор для вязания нахлыстовых мушек.Что же должно быть у нахлыстовика-вязальщика обязательно:Нахлыстовые тиски (нахлыстовый станок): Данный инструмент служит для удержания крючка (мушки, иглы и т.п.) в удобном для вязания положении. Тисков разных много, многие уверенно советуют дорогие нахлыстовые тиски renzetti... Пока я начинающий вязальшик я купил себе более дешевые Supreme Rotating Fly Tying Vise. Данные нахлыстовые тисочки имеют функцию вращения и 2 дополнительные губки (пока не выяснил зачем).Бабинодержатель(ниткодержатель): служит для удержания бабины с монтажной нитью(иногда используют свинцовой, люрексом и т.д.) и удобной работы с нею. В интернете советуют использовать бабинодержатели с керамическими вставками. Тут соглашусь полностью (бо порвал несколько ниток своим полностью металлическим бабинодержателем, прилось шлифовать). Лучше купить 2 штуки!Перодержатель (держатель для пера): Перодержатель считаю важнейшим инструментом муховяза. Не пресдавляю сколько было бы мороки не купи я этот инструмент. Иногда удается работать с очень короткими фрагментами перьев и другими материалами (люрекс, свинцовая проволока и т.д.) Я знаю два вида перодержателей, считаю должны быть оба.</div>
        
        <div class="span3">                             
            <div class="span12">Сочуствующие</div>
            <ul class="thumbnails">                
                <li class="span12">
                    <a href="http://www.fly-fishing.ru" class="thumbnail">
                        <img src="http://www.fly-fishing.ru/images/logo.gif" />
                    </a>
                </li>
                 <li class="span12">
                    <a href="http://www.renzetti.com" class="thumbnail">
                        <img src="http://www.renzetti.com/templates/gk_yourshop/images/style1/logo2.png" />
                    </a>
                </li>
                 <li class="span12">
                    <a href="http://www.winstonrods.com" class="thumbnail">
                        <img src="http://www.winstonrods.com/img/layout/logo.png" />
                    </a>
                </li>
                <li class="span12" style="display:none">
                    <div class="thumbnail">
                        <img src="/Content/images/j.gif" />
                        <h6>Описание 5</h6>
                    </div>
                </li>                
            </ul>
        </div>