@{    
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Пошаговые инструкции";
}
 <div class="span12" id="stepbystep_content">
     <p>
    @if (Model.StepByStepDetails != null)
    {
        <ul class="thumbnails">
        @foreach (var item in Model.StepByStepDetails)
        {
            <li class="span3">
            <a href="#" class="thumbnail">
                <img src="@item.url" style="height:205px"/>
            </a>
            </li>
        }
        </ul>
    }
    </p>
 </div>
